.report-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  padding-top: 1em;
}

.report-container {
  background-color: #f1f1f1;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

}
